* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h2 {
  text-align: left;
  line-height: 150px;
}

i {
  padding: 3px;
}
/* a {
  display: block;
  text-align: center;
} */

button {
  height: 2rem;
  width: 2rem;
  border-radius: 50px;
}

span {
  display: inline-block;
  margin-top: 4px;
  margin-bottom: 1rem;
}

/* hr {
  margin: 1rem 0;
} */
/* Emoji */

.arrow {
  margin-top: 5.5rem;
  font-size: 3rem;
}
/* default */
.green {
  background-color: green;
  min-height: 20px;
  width: 20%;
}

.red {
  background-color: red;
  min-height: 20px;
  width: 20%;
}

.yellow {
  background-color: yellow;
  min-height: 20px;
  width: 40%;
}

.grey {
  background-color: grey;
  min-height: 20px;
  width: 40%;
}

.blue {
  background-color: blue;
  min-height: 20px;
  width: 40%;
}

.black {
  background-color: black;
  min-height: 40%;
  width: 40%;
}

.pink {
  background-color: pink;
  min-height: 40%;
  width: 40%;
}

.btn {
  background-color: rgb(16, 87, 157);
  height: 2rem;
  line-height: 2rem;
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 0 8px;
  text-align: center;
}

/* header */

header {
  min-height: 50px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 35rem;
}

nav li {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  color: rgba(98, 98, 98, 0.729);
}

/* 1pagina */

.page1 {
  width: 100%;
  background-color: rgb(47, 174, 185);
}

.pag1-grid {
  min-height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.page1 .green {
  margin-left: 20%;
  width: 60%;
  text-align: left;
  width: 44%;
  font-size: 2rem;
  min-height: 150px;
}

.page1 .yellow {
  position: relative;
}

.page1 .red {
  padding-top: 2.5rem;
}

.page1-img {
  min-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 10%;
}

/* pagina2 */

.page2 {
  width: 100%;
}

.initial-pag1 {
  background-color: grey;
  min-height: 150px;
  width: 60%;
  margin: auto;
  text-align: left;
}

.headline-pag1 {
  text-align: center;
  padding-top: 1rem;
}

.pag2-grid {
  min-height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.page2 .green,
.page2 .red,
.page2 .yellow {
  min-height: 100%;
  width: 19%;
  padding-bottom: 10rem;
}

.btn-pag2 {
  background-color: rgb(16, 87, 157);
  height: 2rem;
  line-height: 2rem;
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 0 8px;
  margin: 36px;
  margin-left: 50px;
}

.rule2 {
  width: 10%;
  margin-left: 6%;
}

.page2 h5 {
  padding: 1rem;
}

.page2 p {
  margin-bottom: 1rem;
}
/* pagina3 */

.page3 {
  width: 100%;
}

.pag3-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 200px;
  width: 100%;
  justify-content: center;
  margin: 1rem 0;
}

.pag3-grid2 {
  display: flex;
  justify-content: center;
  min-height: 300px;
  width: 100%;
}

.page3 .green {
  width: 60%;
  min-height: 150px;
}
.page3 .grey {
  width: 60%;
  min-height: 50px;
}
.page3. .green {
  height: 80%;
}

.page3 .grey {
  height: 20%;
}

.page3 .yellow,
.page3 .red {
  width: 30%;
}

.upDiv-pag3 {
  line-height: 50px;
  text-align: center;
}

.downDiv-pag3 {
  padding: 2rem;
}

.downDiv-pag3 h3 {
  display: inline-block;
  margin-right: 33rem;
}

.downDiv-pag3 p {
  margin-top: 1rem;
}

.page2-img {
  width: 100%;
  height: 100%;
}

.btn-pag3 {
  border: 1px solid rgb(98, 98, 98);
  height: 2rem;
  line-height: 2rem;
  text-decoration: none;
  color: rgba(98, 98, 98, 0.729);
  display: inline-block;
  padding: 0 8px;
  text-align: center;
  margin-top: 1rem;
  margin-left: 2rem;
}

.red h4 {
  padding: 2rem;
}

.red p {
  padding-left: 2rem;
  padding-right: 5rem;
}
/* pagina4 */

.page4 {
  height: 100vh;
  width: 100%;
}

.pag4-grid {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pag4-grid div {
  width: calc(76% / 3);
}

.page4 .pink {
  margin: auto;
  width: 76%;
  height: 20%;
}

/* pagina5 */

.page5 {
  height: 120vh;
  width: 100%;
}

.pag5-grid {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.page5 .green,
.page5 .red,
.page5 .yellow {
  width: calc(100% / 3);
}

.free-trial {
  background-color: cadetblue;
  height: 40%;
  width: 100%;
}

/* pagina6 */

.page6 {
  height: 80vh;
  width: 100%;
}

.FAQ {
  height: 50%;
  width: 100%;
}

.Links {
  background-color: black;
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Links div {
  height: 70%;
  width: calc(100% / 7);
}

/* footer */

footer {
  height: 10vh;
  width: 100%;
  background-color: black;
  border: 2px solid white;
}
